<!DOCTYPE html>

<html>
    <head>
        <style>
            table, th, td, h1 {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
                align-content: center;
            }

            table {
                margin-left:auto;margin-right:auto;
            }

            body {
                background-color: 	#D3D3D3;
            }

        </style>
    </head>

    <body>
        <h1>Coursera Course Search</h1>

        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search by course">
            <input type="text" name="total" placeholder="Total pages to search">
            <input type="submit" value="Search/Refresh">
        </form>
        
        {% if data %}
        <a href="{% url 'get_csv' %}" class="button">Download</a>
            <table>
                <thead>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Instructor</th>
                    <th>Course Provider</th>
                    <th>Enrolled Students</th>
                                        
                </thead>

                <tbody>
                    {% for d in data %}
                    <tr>
                        <td><a href="{{d.6}}">{{ d.0 }}</a></td>
                        <td>{{ d.1 | slice:":65" }}....</td>
                        <td>{{ d.2 }}</td>
                        <td>{{ d.3 }}</td>
                        <td>{{ d.4 }}</td>
                        <td>{{ d.5 }}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% else %} 
            <p>No Data</p>
        {% endif %}

    </body>
</html>